
<!-- about me page -->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
 
<div class="rounded float-right" style="width: 22rem;">
<img src="assets/images/azi.jpeg" class="rounded float-right">
</div>

 <div class>
 <h1 class="card-title">About me </h1>
 <br>
 
 </br>
  
  <h6>This is Azadeh.  
   
   I have studied computer application and IT, currently I'm styding Health informatics.<br>and I’m very much interested in technologies.
   </br>  
As we all know in today's world we need to learn as much as we can in order to stay in the current world events,<br> and for me nothing could be as interesting as working in this field</br>
<br>“I am certain that after completing this program, <br>the coming years will be very much productive for me. I can picture myself growing to the position I was always dreaming of. </br><br>I feel this program will help me a lot in creating my career. The coming years are a guide to me. They would take me to a</br> target where  I can achieve my goals.”
</br>
 <br>
 Find out my resume below:
 </br>
<div class="card-body"><br>
 <a href="/Assets/cv/mycv.pdf" class="btn btn-primary">Resume Link</a> 
 </br>
 </h6>

</div>

    
 


<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>
  


