<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
 
<ul class="list-group">
  <li class="list-group-item">Calender app for android</li>
  <li class="list-group-item">A messenger app</li>
  <li class="list-group-item">Fingerprint voting system</li>
  <li class="list-group-item">A battery saver programc</li>
  <div class="card" style="width: 65rem;"> 
  
        
  <img class="card-img-centre" src="assets/images/proj.jpg" alt="Card image">   
 

  </div>
  </ul>

<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>
  



